:root {
    --white: #fff;
    --azure-radiance: #0078E7;
    --champagne: #faebd7;
    --alto: #dcdcdc;
    --titan-white: #f8f8ff;
}

html, 
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: var(--champagne);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 16px;
}

section {
    height: 47%;
    width: 100%;
}

.section__title {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 700;
    height: 10%;
    justify-content: center;
}

.section__title--pull-left {
    padding-left: 10px;
}

.section__title--pull-right {
    text-align: right;
    padding-right: 10px;
}

.section__body {
    align-items: center;
    display: flex;
    height: 90%;
    justify-content: center;
    flex-direction: column;
}

.section-body__shapes {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

.bg-alto {
    background-color: var(--alto);
}

.icon {
    border: 1px solid;
    font-size: 32px;
    padding: 24px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    background-color: var(--titan-white);
}

.resolution {
    font-size: 32px;
    font-weight: 800;
    position: absolute;
    text-align: center;
    top: 51%;
    width: 100%;
}

.resolution__actions {
    font-size: 16px;
    font-weight: 500;
}

select {
    border: 1px solid;
}

button {
    background-color: var(--azure-radiance);
    border-radius: 100%;
    color: var(--white);
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}
